# Exemplo de configuração do Appsmith

APPSMITH_DB_URL=mongodb://usuario:senha@localhost:27017/appsmith
APPSMITH_POSTGRES_DB_URL=postgresql://usuario:senha@localhost:5432/appsmith
APPSMITH_MONGODB_USER=seu_usuario
APPSMITH_MONGODB_PASSWORD=sua_senha

APPSMITH_REDIS_URL=redis://127.0.0.1:6379

APPSMITH_ENCRYPTION_PASSWORD=SUA_SENHA_DECRIPTOGRAFIA
APPSMITH_ENCRYPTION_SALT=SEU_SALT

APPSMITH_ADMIN_EMAILS=seu@email.com
